body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:754px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u2642 {
  position:absolute;
  left:0px;
  top:2143px;
  width:754px;
  height:1066px;
}
#u2643 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u2644 {
  position:absolute;
  left:0px;
  top:3214px;
  width:754px;
  height:1066px;
}
#u2645 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u2646 {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u2647 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u2648 {
  position:absolute;
  left:0px;
  top:1072px;
  width:754px;
  height:1066px;
}
#u2649 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
