body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:754px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u2907 {
  position:absolute;
  left:0px;
  top:2143px;
  width:754px;
  height:1066px;
}
#u2908 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u2909 {
  position:absolute;
  left:0px;
  top:3214px;
  width:754px;
  height:1066px;
}
#u2910 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u2911 {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u2912 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u2913 {
  position:absolute;
  left:0px;
  top:1072px;
  width:754px;
  height:1066px;
}
#u2914 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
