body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2506 {
  position:absolute;
  left:25px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2507 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2508 {
  position:absolute;
  left:25px;
  top:1095px;
  width:775px;
  height:1095px;
}
#u2509 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2510 {
  position:absolute;
  left:25px;
  top:2195px;
  width:775px;
  height:1095px;
}
#u2511 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2512 {
  position:absolute;
  left:25px;
  top:3295px;
  width:775px;
  height:1095px;
}
#u2513 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2514 {
  position:absolute;
  left:25px;
  top:4395px;
  width:775px;
  height:1095px;
}
#u2515 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2516 {
  position:absolute;
  left:25px;
  top:5495px;
  width:775px;
  height:1095px;
}
#u2517 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2518 {
  position:absolute;
  left:0px;
  top:6590px;
  width:775px;
  height:1095px;
}
#u2519 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2520 {
  position:absolute;
  left:25px;
  top:7689px;
  width:775px;
  height:1095px;
}
#u2521 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2522 {
  position:absolute;
  left:25px;
  top:8790px;
  width:775px;
  height:1095px;
}
#u2523 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
