body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2654 {
  position:absolute;
  left:25px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2655 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2656 {
  position:absolute;
  left:25px;
  top:1095px;
  width:775px;
  height:1095px;
}
#u2657 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2658 {
  position:absolute;
  left:25px;
  top:2195px;
  width:775px;
  height:1095px;
}
#u2659 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2660 {
  position:absolute;
  left:25px;
  top:3295px;
  width:775px;
  height:1095px;
}
#u2661 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2662 {
  position:absolute;
  left:25px;
  top:4395px;
  width:775px;
  height:1095px;
}
#u2663 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2664 {
  position:absolute;
  left:25px;
  top:5495px;
  width:775px;
  height:1095px;
}
#u2665 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2666 {
  position:absolute;
  left:0px;
  top:6590px;
  width:775px;
  height:1095px;
}
#u2667 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2668 {
  position:absolute;
  left:25px;
  top:7689px;
  width:775px;
  height:1095px;
}
#u2669 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u2670 {
  position:absolute;
  left:25px;
  top:8790px;
  width:775px;
  height:1095px;
}
#u2671 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
