body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1294px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2839 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1294px;
}
#u2840 {
  position:absolute;
  left:2px;
  top:639px;
  width:1436px;
  word-wrap:break-word;
}
#u2841 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:1171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2842 {
  position:absolute;
  left:265px;
  top:73px;
  width:1136px;
  height:1171px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2843 {
  position:absolute;
  left:16px;
  top:16px;
  width:1104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2844 {
  position:absolute;
  left:265px;
  top:73px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u2844_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2844_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2845 {
  position:absolute;
  left:265px;
  top:1212px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u2845_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2845_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2846 {
  position:absolute;
  left:1369px;
  top:1212px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u2846_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2846_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2847 {
  position:absolute;
  left:1369px;
  top:74px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u2847_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2847_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2848 {
  position:fixed;
  left:0px;
  top:0px;
}
#u2848_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2848_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1184px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2850 {
  position:absolute;
  left:256px;
  top:0px;
  width:1184px;
  height:64px;
}
#u2851 {
  position:absolute;
  left:2px;
  top:24px;
  width:1180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u2852 {
  position:absolute;
  left:284px;
  top:25px;
  width:20px;
  height:15px;
}
#u2853 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2854 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2855 {
  position:absolute;
  left:1317px;
  top:21px;
  width:24px;
  height:24px;
}
#u2856 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2857 {
  position:absolute;
  left:1349px;
  top:22px;
  width:47px;
  height:22px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2858 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u2859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u2859 {
  position:absolute;
  left:1277px;
  top:22px;
  width:16px;
  height:21px;
}
#u2860 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u2861 {
  position:absolute;
  left:1235px;
  top:23px;
  width:18px;
  height:19px;
}
#u2862 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
}
#u2863 {
  position:absolute;
  left:325px;
  top:22px;
  width:43px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2864 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2865 {
  position:absolute;
  left:1287px;
  top:11px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2866 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2868 {
  position:fixed;
  left:0px;
  top:0px;
}
#u2868_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2868_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:955px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 0px 4px rgba(0, 0, 0, 0.0784313725490196);
  -webkit-box-shadow:2px 0px 4px rgba(0, 0, 0, 0.0784313725490196);
  box-shadow:2px 0px 4px rgba(0, 0, 0, 0.0784313725490196);
}
#u2869 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:955px;
}
#u2870 {
  position:absolute;
  left:2px;
  top:470px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2871 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2872 {
  position:absolute;
  left:0px;
  top:176px;
  width:256px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2872_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2872.mouseOver {
}
#u2872_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(0, 51, 102, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2872.mouseDown {
}
#u2872_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2872.selected {
}
#u2873 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u2874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2874 {
  position:absolute;
  left:24px;
  top:196px;
  width:14px;
  height:14px;
}
#u2875 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2877 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
}
#u2879 {
  position:absolute;
  left:0px;
  top:230px;
  width:256px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2879_img.mouseOver {
}
#u2879.mouseOver {
}
#u2879_img.mouseDown {
}
#u2879.mouseDown {
}
#u2879_img.selected {
}
#u2879.selected {
}
#u2880 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u2881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2881 {
  position:absolute;
  left:25px;
  top:250px;
  width:14px;
  height:14px;
}
#u2882 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2885 {
  position:absolute;
  left:0px;
  top:68px;
  width:256px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2885_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2885.mouseOver {
}
#u2885_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2885.mouseDown {
}
#u2885_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2885.selected {
}
#u2886 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u2887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u2887 {
  position:absolute;
  left:24px;
  top:88px;
  width:15px;
  height:13px;
}
#u2888 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2889 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2891 {
  position:absolute;
  left:0px;
  top:122px;
  width:256px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2891_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2891.mouseOver {
}
#u2891_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2891.mouseDown {
}
#u2891_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2891.selected {
}
#u2892 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u2893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2893 {
  position:absolute;
  left:25px;
  top:141px;
  width:14px;
  height:14px;
  color:#C9C9C9;
}
#u2894 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2896 {
  position:absolute;
  left:49px;
  top:345px;
  width:14px;
  height:14px;
}
#u2897 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2900 {
  position:absolute;
  left:24px;
  top:330px;
  width:232px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2900_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2900.mouseOver {
}
#u2900_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2900.mouseDown {
}
#u2900_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2900.selected {
}
#u2901 {
  position:absolute;
  left:50px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u2902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2906 {
  position:absolute;
  left:24px;
  top:284px;
  width:232px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2906_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2906.mouseOver {
}
#u2906_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2906.mouseDown {
}
#u2907 {
  position:absolute;
  left:50px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u2908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2908 {
  position:absolute;
  left:49px;
  top:300px;
  width:14px;
  height:14px;
}
#u2909 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2911 {
  position:absolute;
  left:49px;
  top:391px;
  width:14px;
  height:14px;
}
#u2912 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2915 {
  position:absolute;
  left:24px;
  top:376px;
  width:232px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2915_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2915.mouseOver {
}
#u2915_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2915.mouseDown {
}
#u2915_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2915.selected {
}
#u2916 {
  position:absolute;
  left:50px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u2917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:66px;
}
#u2917 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:65px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#1ABC9C;
  text-align:left;
  line-height:26px;
}
#u2918 {
  position:absolute;
  left:68px;
  top:20px;
  width:188px;
  word-wrap:break-word;
}
#u2919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2919 {
  position:absolute;
  left:24px;
  top:16px;
  width:32px;
  height:32px;
}
#u2920 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1027px;
  height:653px;
}
#u2925 {
  position:absolute;
  left:323px;
  top:109px;
  width:1027px;
  height:653px;
}
#u2926 {
  position:absolute;
  left:2px;
  top:318px;
  width:1023px;
  visibility:hidden;
  word-wrap:break-word;
}
